@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;500;700;900&display=swap");
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active, a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template, [hidden] {
  display: none;
}

#wrapper {
  height: 100vh;
  width: 100vw;
}

nav.navigation {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
  justify-content: flex-start;
  align-items: center;
  background-color: #000;
}
nav.navigation .logo {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url("../images/dc_svg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 220px;
  display: inline-block;
  height: 80px;
  width: 220px;
}
nav.navigation .main-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  order: 1;
}
nav.navigation .main-nav .nav-item {
  font-size: 16px;
  line-height: 24px;
  font-size: 1rem;
  line-height: 1.5rem;
  display: block;
  font-weight: 700;
  padding-right: 40px;
}
nav.navigation .main-nav .nav-item .list-link {
  color: #FFFFFF;
  text-decoration: none;
}
nav.navigation .main-nav .nav-item .list-link:hover {
  text-decoration: underline;
  color: #f35276;
}
nav .social {
  order: 1;
  padding: 0;
}
nav .social li {
  display: inline-block;
}
nav .social .social-link {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  display: inline-block;
  height: 24px;
  margin-right: 24px;
  width: 24px;
  order: 1;
}
nav .social .social-link.twitter {
  background-image: url("../images/twitter.svg");
}
nav .social .social-link.discord {
  background-image: url("../images/discord.svg");
}

section {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
section .rows {
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: no-wrap;
  -ms-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  margin-bottom: 48px;
}
section .rows h2, section .rows h3 {
  color: #FFFFFF;
  width: 100%;
}
section .rows h2 {
  margin-bottom: 0;
}
section .columns {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}
section .columns.reverse {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
section .columns .left-column {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 128px 0;
  width: 50%;
}
section .columns .left-column.hero {
  background-color: #e7ff09;
}
section .columns .left-column .copy {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 128px;
}
section .columns .left-column .copy img {
  padding-bottom: 32px;
}
section .columns .left-column .copy p {
  font-size: 14px;
  line-height: 21px;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  line-height: 1.5em;
}
section .columns .right-column {
  -ms-flex-align: start;
  -webkit-align-items: start;
  align-items: start;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 50%;
}
section .columns .right-column.image img {
  box-sizing: border-box;
  padding: 64px;
}
section .columns .right-column .hero-image {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}
section .columns .right-column .image {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: auto;
  object-fit: contain;
  width: 100%;
}
section.roadmap, section.team, section.faq {
  background-color: #f35276;
  color: #FFFFFF;
  padding: 64px 128px;
}
section.roadmap h3, section.team h3, section.faq h3 {
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 8px;
}
section.roadmap p, section.team p, section.faq p {
  font-size: 14px;
  line-height: 21px;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  max-width: 740px;
  min-width: 50%;
}
section.roadmap .phase, section.team .phase, section.faq .phase {
  width: 96px;
}
section.roadmap .roadmap-text, section.team .roadmap-text, section.faq .roadmap-text {
  font-size: 14px;
  line-height: 21px;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  box-sizing: border-box;
  padding-left: 24px;
  width: 100%;
}
section.roadmap .roadmap-text ul, section.team .roadmap-text ul, section.faq .roadmap-text ul {
  column-count: 2;
  list-style: none;
  margin: 0;
  padding: 0;
}
section.roadmap .roadmap-text ul li, section.team .roadmap-text ul li, section.faq .roadmap-text ul li {
  margin: 0;
  padding: 0 0 8px 0;
}
section.roadmap .roadmap-text ul li::before, section.team .roadmap-text ul li::before, section.faq .roadmap-text ul li::before {
  content: "— ";
}
section.roadmap .roadmap-text ul li.completed::before, section.team .roadmap-text ul li.completed::before, section.faq .roadmap-text ul li.completed::before {
  content: "✅ ";
}
section.team {
  background-color: #0ff;
  color: #222222;
}
section.team .rows {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 24px;
}
section.team h2 {
  color: #222222;
}
section.team .team-member {
  box-sizing: border-box;
  position: relative;
  width: 25%;
}
section.team .team-member img {
  width: 100%;
  height: auto;
}
section.team .team-member .team-dox {
  bottom: 0;
  box-sizing: border-box;
  padding: 8px;
  position: absolute;
  width: 100%;
}
section.team .team-member .team-dox p {
  width: 100%;
  margin: 0;
  padding: 0;
}
section.team .team-member .team-dox .team-name {
  font-size: 16px;
  line-height: 24px;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 1.25em;
}
section.team .team-member .team-dox .team-position {
  font-size: 14px;
  line-height: 21px;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  bottom: 12px;
  color: #0ff;
  font-weight: 700;
  line-height: 1.25em;
}
section.faq {
  background-color: #e7ff09;
  color: #222222;
}
section.faq .rows {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-bottom: 1px solid #222222;
  gap: 24px;
}
section.faq .rows:first-child {
  border: none;
}
section.faq .rows .faq-item {
  font-size: 14px;
  line-height: 21px;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  padding-bottom: 24px;
  width: 33%;
}
section.faq .rows .faq-item h4 {
  margin-bottom: 8px;
}
section.faq .rows .faq-item p {
  margin-top: 0;
  padding: 0;
}
section.faq h2 {
  color: #222222;
}

html, body {
  height: 100%;
}

body {
  color: #222222;
  font-family: "Inter", Arial, Helvetica, Lucida, sans-serif;
  font-size: 100%/1.5;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}

hr {
  background-color: #f5f5f5;
  border-style: none;
  border: none;
  height: 2px;
  max-width: 1280px;
  width: 100%;
}

::selection {
  background: #f35276;
  color: #ffffff;
  text-shadow: none;
}

::-webkit-selection {
  background: #f35276;
  color: #ffffff;
  text-shadow: none;
}

::-moz-selection {
  background: #f35276;
  color: #ffffff;
  text-shadow: none;
}

a,
header,
figure img,
figure figcaption,
ul li,
article, home {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

main {
  width: 100%;
}
main section {
  margin: 0 auto;
}
main section article {
  display: contents;
  margin: 0 0 48px 0;
}

a {
  text-decoration: underline;
  text-decoration-color: #f35276;
}
a:hover {
  color: #f35276;
}

form, input, textarea, submit {
  font-family: "Inter", Arial, Helvetica, Lucida, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-size: 0.875rem;
  line-height: 1.3125rem;
}

h1, h2, h3, h4, h5, h6, strong {
  font-family: "Inter", Arial, Helvetica, Lucida, sans-serif;
  font-weight: 900;
  margin: 0 0 24px 0;
  padding: 0;
}

h1 {
  font-size: 85px;
  line-height: 127.5px;
  font-size: 5.3125rem;
  line-height: 7.96875rem;
  line-height: 4.5rem;
  text-transform: uppercase;
}

h2 {
  font-size: 32px;
  line-height: 48px;
  font-size: 2rem;
  line-height: 3rem;
}

h3 {
  font-size: 24px;
  line-height: 36px;
  font-size: 1.5rem;
  line-height: 2.25rem;
}

h4 {
  font-size: 14px;
  line-height: 21px;
  font-size: 0.875rem;
  line-height: 1.3125rem;
}

h5 {
  font-size: 10px;
  line-height: 15px;
  font-size: 0.625rem;
  line-height: 0.9375rem;
}

h6 {
  font-size: 10px;
  line-height: 15px;
  font-size: 0.625rem;
  line-height: 0.9375rem;
}
