@import '../mixins/flexbox'
@import '../vars/variables'
@import '../mixins/rem_font'

// Home
section
  +flex(1)
  +flex-direction(column)
  +flexbox

  .rows
    +align-content(flex-start)
    +align-items(flex-start)
    +flex-direction(row)
    +flex-wrap(no-wrap)
    +flexbox
    +justify-content(flex-start)
    margin-bottom: 48px

    h2, h3
      color: $white
      width: 100%

    h2
      margin-bottom: 0

  .columns
    +flexbox
    +justify-content(flex-start)
    +align-items(stretch)
    +align-content(flex-start)

    @media (max-width: $layout-breakpoint-small)
      +flex-direction(column-reverse)

    &.reverse
      +flex-direction(row-reverse)

    .left-column
      +align-items(center)
      +flexbox
      +justify-content(center)
      box-sizing: border-box
      margin: 0
      padding: 96px
      width: 50%

      @media (max-width: $layout-breakpoint-medium)
        padding: 48px 24px

      @media (max-width: $layout-breakpoint-small)
        width: 100%

      &.hero
        background-color: $secondary

      .copy
        +align-items(start)
        +align-self(center)
        +flex-direction(column)
        +flexbox
        +justify-content(center)
        box-sizing: border-box
        padding: 96px 0

        @media (max-width: $layout-breakpoint-medium)
          padding: 0

        img
          padding-bottom: 32px

          @media (max-width: $layout-breakpoint-medium)
            max-width: 65%

        p
          +font-size(14)
          line-height: 1.5em

    .right-column
      +align-items(start)
      +flex(1)
      +flexbox
      overflow: hidden
      width: 50%

      @media (max-width: $layout-breakpoint-small)
        width: 100%

      &.image img
        box-sizing: border-box
        padding: 64px

        @media (max-width: $layout-breakpoint-medium)
          padding: 24px

      .hero-image
        +align-items(center)
        +flex(1)
        height: 100%
        max-width: 100%
        object-fit: cover

      .image
        +align-self(center)
        +flex(1)
        height: auto
        object-fit: contain
        width: 100%

  &.roadmap, &.team, &.faq
    background-color: $primary
    color: $white
    padding: 64px 128px

    @media (max-width: $layout-breakpoint-medium)
      padding: 48px 24px

    h3
      border-bottom: 1px solid $white
      padding-bottom: 8px

    p
      +font-size(14)
      max-width: 740px
      min-width: 50%

    .phase
      width: 96px

    .roadmap-text
      +font-size(14)
      box-sizing: border-box
      padding-left: 24px
      width: 100%

      ul
        column-count: 2
        list-style: none
        margin: 0
        padding: 0

        @media (max-width: $layout-breakpoint-small)
          column-count: 1

        li
          margin: 0
          padding: 0 0 8px 0

          &::before
            content: "— "

          &.completed::before
            content: "✅ "

  &.team
    background-color: $tertiary
    color: $black_80

    .rows
      +flexbox
      +flex-wrap(wrap)
      +justify-content(space-between)

    h2
      color: $black_80

    .team-member
      box-sizing: border-box
      margin-bottom: 16px
      position: relative
      width: calc(1/4*100% - (1 - 1/4)*24px)

      @media (max-width: $layout-breakpoint-medium)
        width: calc(1/2*100% - (1 - 1/2)*24px)

      @media (max-width: $layout-breakpoint-small)
        width: 100%

      img
        width: 100%
        height: auto

      .team-dox
        bottom: 0
        box-sizing: border-box
        padding: 8px
        position: absolute
        width: 100%

        p
         width: 100%
         margin: 0
         padding: 0

        .team-name
          +font-size(16)
          color: $white
          font-weight: 700
          line-height: 1.25em

        .team-position
          +font-size(14)
          bottom: 12px
          color: $tertiary
          font-weight: 700
          line-height: 1.25em

  &.faq
    background-color: $secondary
    color: $black_80

    .rows
      +flex-wrap(wrap)
      +justify-content(space-between)

      .faq-item
        +font-size(14)
        margin-bottom: 48px
        width: calc(1/3*100% - (1 - 1/3)*24px)
        border-bottom: 1px solid $black_80

        @media (max-width: $layout-breakpoint-medium)
          width: calc(1/2*100% - (1 - 1/2)*24px)

        @media (max-width: $layout-breakpoint-small)
          width: 100%

        h4
          margin-bottom: 8px

        p
          margin-top: 0
          padding: 0

    h2
      color: $black_80

section.orphans .columns .left-column .copy
  +align-items(center)