@import '../mixins/flexbox'
@import '../vars/variables'
@import '../mixins/rem_font'

// mint
#mint-section
  border-bottom: 0
  margin-bottom: 0
  padding-bottom: 0

  .right-column
    @media (max-width: $layout-breakpoint-small)
      display: none

.MuiContainer-root, .MuiContainer-maxWidthLg, .MuiContainer-maxWidthXs
  margin: 0 !important
  padding: 0 !important

  .MuiPaper-root
    margin: 0px 0 64px 96px