@import '../mixins/clearfix'
@import '../mixins/rem_font'
@import '../vars/variables'
@import '../mixins/flexbox'

// Navigation
nav
  &.navigation
    +align-items(center)
    +flexbox
    background-color: $black_80
    box-sizing: border-box
    height: 96px
    position: sticky
    top: 0px
    z-index: 100

    .logo
      +hide-text
      background-image: url('../../images/dc_svg.svg')
      background-position: center
      background-repeat: no-repeat
      background-size: 220px
      display: inline-block
      height: 80px
      margin-right: 24px
      width: 220px

    .main-nav
      +align-items(center)
      +flexbox
      +justify-content(flex-end)
      box-sizing: border-box
      margin: 0
      order: 1
      padding: 0

      @media (max-width: $layout-breakpoint-small)
        background-color: $black_80
        display: none
        margin: 0
        padding: 24px
        position: absolute
        top: 96px
        width: 100%

      .nav-item
        +font-size(16)
        display: block
        font-weight: 700
        padding-right: 24px

        @media (max-width: $layout-breakpoint-small)
          padding: 0
          text-align: right

        .list-link
          color: $white
          text-decoration: none

          &:hover
            color: $primary
            text-decoration: underline

  .social
    order: 1
    padding: 0
    margin-left: auto

    li
      display: inline-block

    .social-link
      +hide-text
      background-position: center
      background-repeat: no-repeat
      background-size: 24px
      display: inline-block
      height: 24px
      margin-right: 24px
      width: 24px
      order: 1

      &.twitter
        background-image: url('../../images/twitter.svg')

      &.discord
        background-image: url('../../images/discord.svg')